@font-face{
    src: url(../fonts/Arial.ttf);
    font-family: "Arial";
};
@font-face{
    src: url(../fonts/TmR.ttf);
    font-family: "Times";
};
@font-face{
    src: url(../fonts/Roboto.ttf);
    font-family: "Roboto";
};
@font-face{
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: "RobotoBold";
};
@font-face{
    src: url(../fonts/fontello.ttf);
    font-family: "Fontello";
};
@keyframes move{
  0%   { transform: translateY(0); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0); }
};
html{
    font-size: 10px;
};
body{
    margin: 0;
};
.dn{
    display: none;
}
.container{
    width: 90%;
    margin: 0 auto;
};
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.562);
    &__nav{
        z-index: 1;
        background-color: #19191900;
        width: 100%;
        height: 6rem;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__menu{
        cursor: pointer;
        font-family: 'Roboto';
        font-size: 1.6rem;
        color:white;
        margin: 1rem 1.5rem;
        &:hover{
            color: rgba(255, 255, 255, 0.575);
        }
    }
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__maintitle{
        line-height: 72px;
        text-align: center;
        margin-top: 18rem;
        font-family: 'RobotoBold';
        font-size: 7rem;
        color: white;
    }
    &__secondtitle{
        text-align: center;
        margin-top: 2rem;
        font-family: 'Roboto';
        font-size: 2.2rem;
        color: white;
    }
    &__button{
        text-decoration: none;
        margin-top: 9rem;
        font-family: 'RobotoBold';
        font-size: 1.6rem;
        color: white;
        background-color: #13ce66;
        padding: 2rem 6rem;
        border-radius: 3rem;
        border: 1px solid #13ce66;
        &:hover{
            background-color: #0e8342;
            border-color: #0e8342;
        }
    }
    &__svg{
        animation: move 2s infinite ease-in-out;
        cursor: pointer;
        margin-top: 7rem;
    }
}
.aboutus{
    &__content{
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
    }
    &__item{
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    &__title{
        transition: 0.5s ease-in-out;
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__image--one{
        transition: 0.5s ease-in-out;
        flex-basis: 560px;
        height: 460px;
        background-image: url(../img/aboutus1.jpg);
        background-size: cover; 
    }
    &__image--two{
        transition: 0.5s ease-in-out;
        flex-basis: 560px;
        height: 460px;
        background-image: url(../img/aboutus2.jpg);
        background-size: cover; 
    }
    &__maintitle{
        font-family: 'RobotoBold';
        font-size: 3.8rem;
        color: #333333;
        &:after{
            display: block;
            content: "";
            width: 5rem;
            height: 0.3rem;
            background-color: #333333;
            position: relative;
            top: 2.5rem;
        }
    }
    &__secondtitle{
        transition: 0.5s ease-in-out;
        margin-top: 5rem;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: #333333;
    }
}
.aboutme{
    margin: 10rem 0rem;
    width: 100%;
    height: 100vh;
    background-image: url(../img/about.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    &__content{
        padding-top: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    &__item{
        width: 50rem;
        height: 46rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        padding: 7rem;
        box-sizing: border-box;
    }
    &__title{
        margin: 0;
        font-family: 'RobotoBold';
        font-size: 2.2rem;
        color: #333333;
    }
    &__title--second{
        margin-top: 4rem;
        font-family: 'Roboto';
        font-size: 1.6rem;
        color: #333333;
    }
}
.certificate{
    &__content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    &__title{
        width: 30%;
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        color: #333333;
    }
    &__image{
        width: 70%;
    }
}
.you{
    margin: 10rem 0rem;
    &__maintitle{
        transition: 0.5s ease-in-out;
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    &__items{
        transition: 0.5s ease-in-out;
        margin: 10rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    &__item{
        max-width: 30rem;
        box-sizing: border-box;
    }
    &__image--one{
        background-image: url(../img/you1.jpg);
        background-size: cover;
        width: 30rem;
        height: 20rem;
    }
    &__image--two{
        background-image: url(../img/you2.jpg);
        background-size: cover;
        width: 30rem;
        height: 20rem;
    }
    &__image--three{
        background-image: url(../img/you3.jpg);
        background-size: cover;
        width: 30rem;
        height: 20rem;
    }
    &__title{
        margin: 3rem 0rem 4rem;
        font-family: "RobotoBold";
        font-size: 2.4rem;
        color: #333333;
    }
    &__title--second{
        font-family: "Roboto";
        font-size: 1.4rem;
        color: #333333;
    }
}
.courses{
    &__maintitle{
        transition: 0.5s ease-in-out;
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10rem;
    }
    &__content{
        transition: 0.5s ease-in-out;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
    }
    &__item{
        width: 45%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    &__title{
        display: flex;
        flex-direction: column;
    }
    &__title--first{
        margin: 0;
        font-family: 'RobotoBold';
        font-size: 2rem;
        color: #333333;
    }
    &__title--second{
        padding-right: 1rem;
        font-family: 'Roboto';
        font-size: 1.4rem;
        color: #333333;
        margin-bottom: 4rem;
    }
    &__icon{
        margin:0rem 3rem 0rem 9rem;
        font-family: 'Fontello';
        font-size: 4.5rem;
        color: #333333;
    }
    &__icon--four{
        margin:0rem 3rem 0rem 9.8rem;
        font-family: 'Fontello';
        font-size: 5rem;
        color: #333333;
    }
}
.gallery{
    &__contant{
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        transition: 0.5s ease-in-out;
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    &__image{
        margin: 10rem 0rem 10rem 0rem;
        width: 660px;
        height: 440px;
        background-image: url(../img/you1.jpg);
        background-size: cover;
    }
    &__title{
        transition: 0.5s ease-in-out;
        width: 65%;
        margin: 2rem auto;
        text-align:start;
        font-family: "Roboto";
        font-size: 1.8rem;
        color: #333333;
    }
    &__item{
        transition: 0.5s ease-in-out;
        background-image: url(../img/galleryFooter.jpg);
        background-size: cover;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
    &__title--second{
        transition: 0.5s ease-in-out;
        width: 65%;
        margin: 2rem auto;
        text-align:center;
        font-family: "RobotoBold";
        font-size: 1.8rem;
        color: #333333;
    }
}
.slider {
    margin: 8rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__window {
        height: 460px;
        width: 60%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        width: 0px;
        overflow: hidden;
        height: auto;
        transition: 0.5s all ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        opacity: 0;
    }
    &__footer {
        display: flex;
        justify-content: center;

    }
    &__left{
        cursor: pointer;
        margin-right: 10rem;
        font-family: 'Fontello';
        font-size: 10rem;
        color: #333333;
    }
    &__right{
        cursor: pointer;
        margin-left: 10rem;
        font-family: 'Fontello';
        font-size: 10rem;
        color: #333333;
    }
}
.change{
    width: 100%;
    height: 100vh;
    background-image: url(../img/change.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.562);
    &__contant{
        width: 54%;
        margin: 0rem auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__maintitle{
        margin-top: 17rem;
        text-align: center;
        font-family: 'RobotoBold';
        font-size: 2.8rem;
        color: white;
    }
    &__title{
        line-height: 1.55;
        margin-top: 7rem;
        text-align: center;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: white;
    }
}


*,*:after,*:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;margin:0;
    outline:0}
.wrap-slider{
    z-index: 0;
    position:relative;
    height:550px;
    width:100%;
    min-width:767px;
    overflow:hidden}
.wrap-slider>.first-slide,.wrap-slider>.second-slide,.wrap-slider>.third-slide{
    position:absolute;
    display:inline-block;
    height:100%;
    width:100%;
    z-index:1}
.wrap-slider>.first-slide{
    left:-100%;
    transition:1s}
.wrap-slider>.second-slide{
    left:0;
    transition:1s}
.wrap-slider>.third-slide{
    left:100%;
    transition:1s}
.wrap-slider .wrap-in{
    width:800px;
    text-align:center;
    margin:50px auto;
    font-family: 'Roboto';
    font-size: 1.8rem;}
.wrap-slider .wrap-in>img{
    width: 100px;
    height: 100px;
    border-radius:50%}
.wrap-slider>input[type="radio"]{
    position:absolute;
    clip:rect(0, 0, 0, 0)}
.wrap-slider>label{
    position:absolute;
    z-index:999;
    height:10px;
    width:10px;
    border: 1px solid #333333;
    border-radius:50%;
    background:#fff}
.wrap-slider>label[for="secondItem"]{
    top:98%;
    left:50%;
    transform:translate(-50%,-90%)}
.wrap-slider>label[for="firstItem"]{
    top:98%;
    left:47%;
    transform:translate(-47%,-90%)}
.wrap-slider>label[for="thirdItem"]{
    top:98%;
    left:53%;
    transform:translate(-53%,-90%)}
#firstItem:checked~label[for="firstItem"],#secondItem:checked~label[for="secondItem"],#thirdItem:checked~label[for="thirdItem"]{
    background:#000;
    transition:1s}
#firstItem:checked~.first-slide,#secondItem:checked~.second-slide,#thirdItem:checked~.third-slide{
    left:0;
    transition:1s}
#firstItem:checked~.second-slide,#secondItem:checked~.third-slide{
    left:100%;
    transition:1s}
#firstItem:checked~.third-slide{
    left:200%;
    transition:1s}
#secondItem:checked~.first-slide,#thirdItem:checked~.second-slide{
    left:-100%;
    transition:1s}
#thirdItem:checked~.first-slide{
    left:-200%;
    transition:1s}


.reviews{
    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__window {
        
        height: auto;
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        width: 0px;
        overflow: hidden;
        height: auto;
        transition: 0.5s all ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }
    &__left{
        font-family: 'Fontello';
        font-size: 10rem;
        color: #333333;
    }
    &__right{
        font-family: 'Fontello';
        font-size: 10rem;
        color: #333333;
    } 
    &__contant{
        margin: 10rem auto;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__maintitle{
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    &__links{
        font-family: 'Roboto';
        font-size: 2rem;
        color: #333333;
        margin: 2rem 0rem 0rem;
    }
    &__link{
        color: #ff8562;
        text-decoration: none;
    }
}
#big{
    padding: 5.5rem 3rem;
}
.price{
    &__maintitle{
        transition: 0.5s ease-in-out;
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 80%;
        margin: 10rem auto ;
        text-align: center;
    }
    &__content{
        transition: 1s ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__item{
        margin: 0rem 1rem;
        border: 1px solid #92b6a285;
        border-radius: 1rem;
        width: 30rem;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text--time{
        margin: 1rem 0rem 2rem;
        font-family: 'RobotoBold';
        font-size: 2rem;
        color: #333333;
    }
    &__text--people{
        margin: 0;
        font-family: 'Roboto';
        font-size: 1.4rem;
        color: #333333;
    }
    &__text--cost{
        margin: 4rem 0rem 0rem;
        font-family: 'RobotoBold';
        font-size: 3.8rem;
        color: #333333;
    }
    &__text--group{
        margin: 0;
        font-family: 'Roboto';
        font-size: 1.6rem;
        color: #333333;
    }
    &__text--about{
        margin: 2rem 0rem;
        font-family: 'Roboto';
        font-size: 1.4rem;
        color: #333333;
        text-align: center;
    }
    &__button{
        margin: 3rem 0rem 0rem;
        font-family: 'RobotoBold';
        font-size: 1.4rem;
        color: white;
        background-color: #333333;
        text-align: center;
        padding: 1.5rem 3.5rem;
        border-radius: 3rem;
        &:hover{
            background-color: #0e0e0e;
        }
    }
    &__button--big{
        background-color: #13ce66;
    }
}
.question{
    &__maintitle{
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 80%;
        margin: 10rem auto;
        text-align: center;
    }
    &__form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10rem;
    }
    &__input{
        font-family: 'Roboto';
        font-size: 1.6rem;
        margin: 0rem 1rem;
        width: 20%;
        padding: 2rem 0rem;
        border-top: none;
        border-right:none;
        border-left: none;
        border-bottom: 2px solid #0e0e0e;
        &:focus{
            outline: none;
        }
    }
    &__button{
        margin: 0rem 1rem;
        width: 25%;
        font-family: 'RobotoBold';
        font-size: 1.6rem;
        color: #333333;
        background-color: white;
        border: 2px solid #0e0e0e;
        border-radius: 3rem;
        padding: 2rem 6rem;
        &:hover{
            color:white;
            background-color: #0e0e0e;
        }
    }
}
.gift{
    padding-top: 10rem;
    width: 100%;
    height: 100vh;
    background-image: url(../img/gift.jpg);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.562);
    &__maintitle{
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 80%;
        margin: 10rem auto;
        text-align: center;
        color: white;
    }
    &__title{
        text-align: center;
        width: 52%;
        margin: 0 auto;
        font-family: 'Roboto';
        font-size: 2.4rem;
        color: white;
        line-height: 1.5;
    }
    &__contant{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__link{
        text-decoration: none;
        color: #ff8562;
    }
    &__button{
        position: relative;
        bottom: 6.5rem;
        right: 3rem;
        font-family: 'RobotoBold';
        font-size: 1.6rem;
        text-decoration: none;
        color: white;
        border-radius: 3rem;
        background-color: #13ce66;
        border: 1px solid #13ce66;
        padding: 2rem 5.5rem;
        &:hover{
            background-color: #0e8342;
            border: 1px solid #0e8342;
        }
    }
    &__icons--mobile{
        display: none;
    }
    &__icons{
        position: relative;
        right: 3rem;
    }
}
.instagram{
    height: 100vh;
    &__maintitle{
        font-family: 'RobotoBold';
        font-size: 4.2rem;
        width: 80%;
        margin: 10rem auto;
        text-align: center;
    }
}
.footer{
    background-color: #333333;
    &__maintitle{
        font-family: 'RobotoBold';
        font-size: 2.6rem;
        width: 80%;
        color: white;
    }
    &__contant{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__contacts{
        width: 40%;
        padding: 7rem 2rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__number{
        line-height: 1.55;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: white;
    }
    &__mail{
        line-height: 1.55;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: #ff8562;
        text-decoration: none;
    }
    &__text{
        line-height: 1.55;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: white;
        margin: 0rem 0rem 3rem ;
    }
    &__text--one{
        line-height: 1.55;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: white;
        margin: 1rem 0rem 0rem;
    }
    &__text--two{
        line-height: 1.55;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: white;
        margin: 0rem 0rem 3rem ;
    }
    &__icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    
    }
    &__icon{
        font-family: 'Fontello';
        font-size: 3.4rem ;
        padding: 0.5rem;
        color: white;
        margin: 1rem 0rem 3rem;
    }
    &__map--little{
        display: none;
    }
}
.copyright{
    background-color: #0e0e0e;
    &__title{
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: white;
        margin: 0 auto;
        padding: 2rem;
    }
}
@keyframes phone{
    0%{
        transform: rotate(-20deg);
    };
    50%{
        transform: rotate(21deg);
    };
    100%{
        transform: rotate(-20deg);
    }
}
.close{
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: none;
    text-align: center;
    line-height: 1.65;
    font-family: 'Fontello';
    font-size: 4rem;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 3.2rem;
    right: 8rem;
    background-color: white;
    color: #333333;
    box-shadow: 2px 2px 2px 2px #0e0e0e48;
}
.call{
    transition: 0.5s ease-in-out;
    position: fixed;
    bottom: 10rem;
    right: 15rem;
    width: 36rem;
    height: 38.5rem;
    background-color: white;
    padding: 3rem;
    display: none;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px #0e0e0e48;
    &__text{
        font-family: 'RobotoBold';
        font-size: 2.2rem;
        color: #0e0e0e;
        margin-bottom: 2.5rem;
        text-align: center;
    }
    &__input{
        font-family: 'Roboto';
        font-size: 1.6rem;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 28rem;
    }
    &__button{
        font-family: 'RobotoBold';
        font-size: 2.2rem;
        color: white;
        background-color: #0e8342;
        border: 1px solid #0e8342;
        padding: 1rem;
        padding-bottom: 2rem;
        width: 30.5rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }
    &__text--thin{
        font-family: 'Roboto';
        font-size: 1.6rem;
        color: #0e0e0e;
        text-align: center;
    }
}
.phone{
    transition: 0.5s ease-in-out;
    cursor: pointer;
    animation: phone 2s infinite ease-in-out ; 
    text-align: center;
    line-height: 1.65;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    font-family: 'Fontello';
    font-size: 4rem;
    position: fixed;
    bottom: 3rem;
    right: 8rem;
    background-color: #13ce66;
    color: white;
    &:hover{
        background-color: #0e8342;
    }
}
.banner{
    position: relative;
    background-color: #0e0e0e9a;
    position: fixed;
    top: 0rem;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    &__contant{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 38rem;
        height: 61rem;
        padding: 4rem 4rem;
        background-color: white;
        box-sizing: border-box;
    }
    &__image{
        width: 38rem;
        height: 22rem;
        background-image: url(../img/aboutus1.jpg);
        background-size: cover;
    }
    &__maintitle{
        font-family: 'RobotoBold';
        font-size: 3rem;
        margin: 2rem 0rem 1rem;
    }
    &__title{
        font-family: 'Roboto';
        font-size: 1.3rem;
        margin: 0rem 0rem 1rem;
    }
    &__input{
        font-family: 'Roboto';
        font-size: 1.4rem;
        padding: 1rem;
        width: 90%;
        margin: 1rem;
        border: 1px solid #33333341;
        border-radius: 5px;
        &:focus{
            outline: none;
        }
    }
    &__button{
        font-family: 'RobotoBold';
        font-size: 3rem;
        margin: 2rem 0rem 0rem;
        color: white;
        width: 98%;
        padding: 1rem 0rem;
        background-color: #13ce66;
        border: none ;
        border-radius: 5px;
    }
    &__button--close{
        cursor: pointer;
        font-family: 'Fontello';
        font-size: 4rem;
        color: white;
        position: absolute;
        top: 0rem;
        right: 1rem;
    }
}
@media(max-width: 970px){
    .container{
        width: 90%;
    }
    .wrap-slider .wrap-in{
        width:800px;
        text-align:center;
        margin:50px auto;
        font-family: 'Roboto';
        font-size: 1.6rem;}
    .wrap-slider{
        z-index: 0;
        position:relative;
        height:610px;
        width:100%;
        min-width:546px;
        overflow:hidden}
    .wrap-slider .wrap-in{
        width:580px;
        text-align:center;
        margin:10px auto;
        font-family: 'Roboto';
        font-size: 1.8rem;}    
    .header{
        width: 100%;
        height: 150vh;
        &__nav{
            background-color: #191919;
            width: 100%;
            height: 26rem;
            position: static;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    } 
    .aboutus{
        &__item{
            margin-top: 10rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        &__title{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__image--one{
            flex-basis: 800px;
            height: 800px;
            background-image: url(../img/aboutus1.jpg);
            background-size: cover; 
        }
        &__image--two{
            flex-basis: 800px;
            height: 800px;
            background-image: url(../img/aboutus2.jpg);
            background-size: cover; 
        }
    }
    .aboutme{
        margin: 10rem 0rem;
        width: 100%;
        height: 100vh;
        background-image: url(../img/about.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        &__item{
            position: relative;
            top: 60rem;
            width: 100%;
        }
    }
    .certificate{
        &__content{
            margin-top: 46rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title{
            text-align: center;
            width: 50%;
        }
    }
    .you{
        &__items{
            margin: 10rem 0rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        &__item{
            max-width: 70rem;
            box-sizing: border-box;
        }
        &__image--one{
            width: 65rem;
            height: 40rem;
        }
        &__image--two{
            width: 65rem;
            height: 40rem;
        }
        &__image--three{
            width: 65rem;
            height: 40rem;
        }
        &__title--second{
            margin-bottom: 8rem;
        }
    }
    .courses{
        &__maintitle{
            font-family: 'RobotoBold';
            font-size: 4.2rem;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 10rem;
        }
        &__content{
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-around;
        }
        &__item{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
        &__title{
            display: flex;
            flex-direction: column;
        }
    }
    .reviews{
        &__text--one{
            width: 70%;
        }
        &__text--two{
            width: 70%;
        }
        &__text--three{
            width: 70%;
        }
        &__text--four{
            width: 70%;
        }
        &__text--five{
            width: 70%;
        }
        &__text--six{
            width: 70%;
        }
    }
    #big{
        padding: 7rem 3rem;
    }
    .price{
        &__content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        &__item{
            margin:2rem 1rem;
            border: 1px solid #92b6a285;
            border-radius: 1rem;
            width: 70%;
            padding: 7rem 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .question{
        &__form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__input{
            margin: 2rem 1rem;
            width: 70%; 
        }
        &__button{
            margin:2rem 1rem;
            width: 70%;
            font-family: 'RobotoBold';
        }
    }
    .gift{
        padding-top: 5rem;
        &__maintitle{
            margin: 7rem auto;
        }
        &__contant{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__button{
            position: relative;
            bottom: 6.5rem;
            right: 0rem;
        }
        &__icons{
            display: none;
        }
        &__icons--mobile{
            display: block;
            position: relative;
            bottom: 7rem;
            left: 12rem;
        }
        &__form{
            position: relative;
            top: 5rem;
        }
    } 
    .footer{
        &__maintitle{
            font-family: 'RobotoBold';
            font-size: 2.6rem;
            width: 80%;
            color: white;
        }
        &__contant{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        &__contacts{
            width: 95%;
            padding: 7rem 2rem 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
@media(max-width:670px){
    .container{
        width: 90%;
    }
    .wrap-slider .wrap-in{
        width:800px;
        text-align:center;
        margin:50px auto;
        font-family: 'Roboto';
        font-size: 1.6rem!important;}
    .wrap-slider{
        z-index: 0;
        position:relative;
        height:620px;
        width:100%;
        min-width:366px;
        overflow:hidden}
    .wrap-slider .wrap-in{
        width:400px;
        text-align:center;
        margin:10px auto;
        font-family: 'Roboto';
        font-size: 1.8rem;}    
    .header{
        width: 100%;
        height: 125vh;
        &__maintitle{
            line-height: 32px;
            margin-top: 11rem;
            font-size: 3rem;
        }
        &__secondtitle{
            font-size: 1.6rem;
        }
        &__button{
            text-decoration: none;
            margin-top: 9rem;
            font-family: 'RobotoBold';
            font-size: 1.6rem;
            color: white;
            background-color: #13ce66;
            padding: 2rem 6rem;
            border-radius: 3rem;
            border: 1px solid #13ce66;
            &:hover{
                background-color: #0e8342;
                border-color: #0e8342;
            }
        }
        &__svg{
            cursor: pointer;
            margin-top: 9rem;
        }
    }
    .aboutus{   
        &__image--one{
            flex-basis: 500px;
            height: 500px;
        }
        &__image--two{
            flex-basis: 500px;
            height: 500px;
        }
    }
    .you{
        &__items{
            margin: 10rem 0rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        &__item{
            max-width: 50rem;
            box-sizing: border-box;
        }
        &__image--one{
            width: 50rem;
            height: 30rem;
        }
        &__image--two{
            width: 50rem;
            height: 30rem;
        }
        &__image--three{
            width: 50rem;
            height: 30rem;
        }
        &__title--second{
            margin-bottom: 8rem;
        }
    }
    .reviews{
        &__maintitle{
            font-family: 'RobotoBold';
            font-size: 4.2rem;
            width: 80%;
            margin: 2rem auto;
            text-align: center;
        }
      
        &__image--one{
            position: static;
            margin: 0rem 0rem 2rem 6rem;
        }
        &__image--two{
            position: static;
            margin: 0rem 0rem 2rem 6rem;
        }
        &__image--three{
            position: static;
            margin: 0rem 0rem 2rem 6rem;
        }
        &__image--four{
            position: static;
            margin: 0rem 0rem 2rem 6rem;
        }
        &__image--five{
            position: static;
            margin: 0rem 0rem 2rem 6rem;
        }
        &__image--six{
            position: static;
            margin: 0rem 0rem 2rem 6rem;
        }
        &__slider{
            width: 90%;
        }
        &__dots{
            justify-content: center;
            display: flex;
            flex-direction: row;
            position: relative;
            left: 33%;
        }
        &__links{
            position: static;
            text-align: center;
        }
        &__text--one{
            margin-left: 0rem;
            width: 70%;
        }
        &__text--two{
            margin-left: 0rem;
            width: 70%;
        }
        &__text--three{
            margin-left: 0rem;
            width: 70%;
        }
        &__text--four{
            margin-left: 0rem;
            width: 70%;
        }
        &__text--five{
            margin-left: 0rem;
            width: 70%;
        }
        &__text--six{
            margin-left: 0rem;
            width: 70%;
        }
    }   
    .question{
        &__form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__input{
            margin: 2rem 1rem;
            width: 100%; 
        }
        &__button{
            margin:2rem 1rem;
            width: 100%;
            font-family: 'RobotoBold';
        }
    }
    .gift{
        padding-top: 10rem;
        &__maintitle{
            margin: 5rem auto;
            font-size: 3rem;
            margin-bottom: 7rem;
        }
        &__contant{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__button{
            position: relative;
            bottom: 6.5rem;
            right: 0rem;
            padding: 2rem 10rem;
        }
        &__icons{
            display: none;
        }
        &__icons--mobile{
            display: block;
            position: relative;
            bottom: 7rem;
            left: 16.5rem;
        }
        &__form{
            position: relative;
            top: 5rem;
        }
        
        &__title{
            width: 80%;
            font-size: 2rem;
        }
    }  
    .footer{
        &__map--little{
            display: block;
        }
        &__map--big{
            display: none;
        }
    }
    .close{
        bottom: 1rem;
        right: 1rem;
    }
    .call{
        bottom: 14rem;
        right: 2rem;
        width: 30rem;
        height: 41rem;
        &__text{
            font-family: 'RobotoBold';
            font-size: 2.2rem;
            color: #0e0e0e;
            margin-bottom: 2.5rem;
            text-align: center;
        }
        &__input{
            width: 22rem;
        }
        &__button{
            width: 24.5rem;
        }
        &__text--thin{
            font-family: 'Roboto';
            font-size: 1.6rem;
            color: #0e0e0e;
            text-align: center;
        }
    }
    .banner{
        position: relative;
        background-color: #0e0e0e9a;
        position: fixed;
        top: 0rem;
        width: 100%;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
        &__contant{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30rem;
            height: 61rem;
            padding: 4rem 4rem;
            background-color: white;
            box-sizing: border-box;
        }
        &__image{
            width: 30rem;
            height: 18rem;
            background-image: url(../img/aboutus1.jpg);
            background-size: cover;
        }
        &__maintitle{
            font-family: 'RobotoBold';
            font-size: 3rem;
            margin: 2rem 0rem 1rem;
        }
        &__title{
            font-family: 'Roboto';
            font-size: 1.3rem;
            margin: 0rem 0rem 1rem;
        }
        &__input{
            font-family: 'Roboto';
            font-size: 1.4rem;
            padding: 1rem;
            width: 90%;
            margin: 1rem;
            border: 1px solid #33333341;
            border-radius: 5px;
            &:focus{
                outline: none;
            }
        }
        &__button{
            font-family: 'RobotoBold';
            font-size: 3rem;
            margin: 2rem 0rem 0rem;
            color: white;
            width: 98%;
            padding: 1rem 0rem;
            background-color: #13ce66;
            border: none ;
            border-radius: 5px;
        }
        &__button--close{
            font-size: 3rem;
        }
    }
    .slider {
        margin: 8rem 0rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__window {
            height: 400px;
            width: 80%;
        }
        &__footer {
            display: flex;
            justify-content: center;
    
        }
        &__left{
            margin-right: 2rem;
            font-size: 4rem;
        }
        &__right{
            margin-left: 2rem;
            font-size: 4rem;
        }
    }    
}
    

@media(max-width:440px){
    .container{
        width: 90%;
    }
    .wrap-slider>label[for="secondItem"]{
        top:98%;
        left:50%;
        transform:translate(-50%,-90%)}
    .wrap-slider>label[for="firstItem"]{
        top:98%;
        left:45%;
        transform:translate(-47%,-90%)}
    .wrap-slider>label[for="thirdItem"]{
        top:98%;
        left:55%;
        transform:translate(-53%,-90%)}
    .wrap-slider .wrap-in{
        width:800px;
        text-align:center;
        margin:50px auto;
        font-family: 'Roboto';
        font-size: 1.2rem!important;}
    .wrap-slider{
        z-index: 0;
        position:relative;
        height:550px;
        width:100%;
        min-width:266px;
        overflow:hidden}
    .wrap-slider .wrap-in{
        width:270px;
        text-align:center;
        margin:10px auto;
        font-family: 'Roboto';
        font-size: 1.8rem;}    
    .aboutus{ 
        &__maintitle{
            font-size: 3rem;
        }
        &__image--one{
            background-position: center;
            flex-basis: 260px;
            height: 260px;
        }
        &__image--two{
            background-position: center;
            flex-basis: 260px;
            height: 260px;
        }
    }
    .aboutme{
        margin: 10rem 0rem;
        width: 100%;
        height: 100vh;
        &__item{
            position:relative;
            top: 70rem;
            width: 100%;
            padding: 0rem;
            height: auto;
        }
        &__content{
            padding-top: 2rem;
        }
        &__title{
            font-size: 2rem;
        }
        &__title--second{
            margin-top: 1rem;
            font-size: 1.4rem;
        }
    }
    .certificate{
        &__content{
            margin-top: 35rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title{
            font-size: 3rem;
            text-align: center;
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    .you{
        margin: 10rem 0rem;
        &__maintitle{
            font-size: 3rem;
        }
        &__item{
            max-width: 30rem;
            box-sizing: border-box;
        }
        &__image--one{
            width: 30rem;
            height: 20rem;
        }
        &__image--two{
            width: 30rem;
            height: 20rem;
        }
        &__image--three{
            width: 30rem;
            height: 20rem;
        }
        &__title{
            margin: 3rem 0rem 4rem;
            font-family: "RobotoBold";
            font-size: 2.4rem;
            color: #333333;
        }
        &__title--second{
            font-family: "Roboto";
            font-size: 1.4rem;
            color: #333333;
        }
    }
    .courses{
        &__maintitle{
            font-family: 'RobotoBold';
            font-size: 3rem;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 10rem;
        }
        &__content{
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-around;
        }
        &__item{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
        &__title{
            display: flex;
            flex-direction: column;
        }
        &__icon{
            margin: 1rem 1rem;
        }
        &__icon--four{
            margin: 1rem 2rem 1rem 1rem ;
        }
    }
    .gallery{
        &__maintitle{
            font-size: 3rem;
        }
        &__image{
            max-width:300px ;
            height: 220px;
        }
    }
    .change{
        &__maintitle{
            font-size: 3rem;
            width: 100%;
        }
        &__title{
            font-size: 1.4rem;
        }
        &__contant{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .reviews{
        &__maintitle{
            font-size: 3rem;
        }
        &__text--one{
            font-size: 1.4rem;
        }
        &__dot--first{
            margin-left: 2rem;
        }
        &__dots{
            position: relative;
            left: 3rem;
            justify-content: flex-start;
            display: flex;
            flex-direction: row;
        }
    }
    .price{
        &__maintitle{
            font-size: 3rem;
            margin: 5rem auto;
        }
        &__item{
            padding: 2rem;
        }
    }
    #big{
        padding: 2rem;
    }
    .question{
        &__maintitle{
            font-size: 3rem;
            margin: 5rem auto;
        }
        &__form{
            width: 90%;
            margin: 0 auto;
        }
    }
    .gift{
        &__title{
            font-size: 1.6rem;
        }
        &__button{
            padding: 2rem 3rem;
        }
        &__icons--mobile{
            position: relative;
            left: 10rem;
        }
    }
    .instagram{
        &__maintitle{
            font-size: 3rem;
        }
    }
    .call{
        bottom: 14rem;
        right: 2rem;
        width: 28rem;
        height: 41rem;
        &__text{
            font-family: 'RobotoBold';
            font-size: 2.2rem;
            color: #0e0e0e;
            margin-bottom: 2.5rem;
            text-align: center;
        }
        &__input{
            font-family: 'Roboto';
            font-size: 1.6rem;
            padding: 1rem;
            margin-bottom: 1rem;
            width: 22rem;
        }
        &__button{
            font-family: 'RobotoBold';
            font-size: 2.2rem;
            color: white;
            background-color: #0e8342;
            border: 1px solid #0e8342;
            padding: 1rem;
            padding-bottom: 2rem;
            width: 24.5rem;
            margin-bottom: 2.5rem;
            text-align: center;
        }
        &__text--thin{
            font-family: 'Roboto';
            font-size: 1.6rem;
            color: #0e0e0e;
            text-align: center;
        }
    }
    .slider {
        margin: 8rem 0rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__window {
            height: 300px;
            width: 90%;
        }
        &__footer {
            display: flex;
            justify-content: center;
    
        }
        &__left{
            margin-right: 0.5rem;
            font-size: 2rem;
        }
        &__right{
            margin-left: 0.5rem;
            font-size: 2rem;
        }
    } 
}

