<div class="slider">

        <div class="left slideleft">prew</div>

            <div class="slider__vindow">
            <div class="slider__item">
                <div class="reviews__image--one"></div>
                <div class="reviews__text--one">
                    Недавно у нас с Алиной была встреча - она же стала первой коуч-сессией. Я не могла понять: для чего нужен коучинг, если ты
                    и сам можешь сесть и составить свои цели и задачи? Но дело в том, что я до сих пор этого не сделала!
                    И не знаю, когда бы взялась за это, если бы не наша встреча. Коуч подтолкнет к действиям, к первым
                    шагам, и ты сможешь увидеть свою жизнь со стороны. К тому же Алина - человек схем и графиков, у нее
                    все четко и понятно на бумаге. Она задала мне некоторые вопросы, которые заставили задуматься о моем
                    будущем, показала мне на схемах как выглядит развитие талантов, идеальная работа, мы выявили что
                    мне нравится и не нравится в настоящем моем положении и составили первые самые элементарные шаги,
                    которые я могу сделать уже сейчас. И мне в тот момент даже захотелось прямо взяться и сделать! И
                    все это происходило в легкой непринужденной обстановке за чашкой чая :) спасибо тебе, Алинка, что
                    помогаешь мне все-таки взяться за свою жизнь!))
                </div>    
                <div class="reviews__title--one">
                    Алина Лембович
                </div>   
            </div> 
            <div class="reviews__slider"> 
                <div class="reviews__image--two"></div>
                <div class="reviews__title">
                    <div class="reviews__text--two">
                        Написать отзыв - дело не простое. Потому что хочется передать всю глубину внутренности, переживания. На листке сделать это
                        удаётся не многим. Но я попробую или у мня нет выбора. Моё состояние в разные периоды, было разное.
                        Я всегда себя ощущал хорошо, не было больших затыков. Но в феврале 2017 года, мне довелось прожить
                        жизнь за месяц. Я нагрузил себя до такой степени, что все окружающие перестало иметь смысл. Я устал.
                        Энергия упала в ноль. Трудные решения сопровождались стрессами. Потеря цели. Внутренний механизм
                        дал давать сбои. Много важных срочных дел. Каша. Отсутствие нити плана. Нет стратегии. Я один. Страшно.
                        В этом состоянии у меня произошла встреча с Алиной. Она приложила максимум, чтобы помочь мне. Алина,
                        как она любит это говорить, достала нужный инструмент из своего чемоданчика, поверьте у неё их много.
                        Бог помог мне через неё. Её профессиональные навыки и открытое сердце - это отличительные черты Алины.
                        Мы разобрались вместе, не она мне дала ответы. Она помогла мне откопать ответы в себе самому. Всё
                        кто хочет разобрать свою жизнь, не важно с какими вопросами, я вам рекомендую это делать с профессионалами-c
                        Алиной!
                    </div>
                    <div class="reviews__title--two">
                        Артём Лисицын
                    </div>
                </div>    
            </div> 
            <div class="reviews__slider"> 
                
            </div>
            <div class="reviews__slider">  
                  
            </div> 
            <div class="reviews__slider"> 
                
            </div>  
            <div class="reviews__slider">
                <div class="reviews__image--six"></div>  
                <div class="reviews__title">
                    <div class="reviews__text--six">
                        С Алиной я знаком достаточно долгое время. Но только на прошлой неделе нам удалось пообщаться вот в такой обстановке. Где
                        она была тренером, а я, так сказать, её клиентом. К Алине я шёл уже с каким-то наброском вопросов,
                        которые меня интересуют. Вместе мы смогли упорядочить их. Расставить приоритеты и "подчеркнули" ненужное.
                        Я во время встречи получил от Алины всю так мне необходимую поддержку, особенно моральную, которая
                        крайне важна. Но одним занятием я так просто не отделаюсь. Так что до скорой встречи)!
                    </div>
                    <div class="reviews__title--six">
                        Александор Давидович
                   </div>
                </div>    
            </div>    
        </div>

        <div class="reviews__right slideright">next</div>

    </div>